:root{
    --tielgrey: #C7C7C7;
    --pupule: #8E32C6;
    --wite: #FFF;
    --head: #012D63;
}


.ssect{
    display: flex;
}


.container2{
    background-color: var(--head);
}


.header-ul{
    display: flex;
    justify-content: flex-end;
}

.container{
    width: 1081px;
outline: solid red;
margin-left: auto;
margin-right: auto;
}


html{
    background-color: black;
}

.header-informat{
    background-image: url(./img/back.png);
}



.eng1  .eng2{
    color: var(--wite);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.cgg{
    color: var(--wite);
font-family: PT Serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.pages{
    color: var(--tielgrey);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}


.color{
    color: var(--wite);
font-family: Playfair Display;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.dream-nike{
    color: #FFF;
font-family: Playfair Display;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.header-text{
    color: var(--wite);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.nike-button{
    background-color: var(--pupule);
    color: var(--wite);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.premium-text{
    color: var(--wite);
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.premium-shipping{
    color: var(--wite);
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.premium-paint{
    color: var(--wite);
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.reviev{
    color: var(--wite);
text-align: center;
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/* coment */
.coment1{
    color: var(--wite);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.coment2{
    color:var(--wite) ;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.coment3{
    color: var(--wite);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* coment */


/* time */
.time1{
    color: var(--tielgrey);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.time2{
    color: var(--tielgrey);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.time3{
    color: var(--tielgrey);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* time */


/* name */
.name1{
    color: var(--wite);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.name2{
    color: var(--wite);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.name3{
    color: var(--wite);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* name */


/* with-us */
.with-us1{
    color: var(--tielgrey);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.with-us2{
    color: var(--tielgrey);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.with-us3{
    color: var(--tielgrey);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* with-us */

.order{
    color: var(--wite);
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.input-button{
    color: var(--wite);
background-color: var(--pupule);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}








